{% extends "layout.html" %} {% block body %}
<div style="text-align: center">
    <p>请写入数字，然后点击预测</p>
    <canvas id="writting_panel" width="200" height="200">Sorry, Your Browser does not suport canvas. </canvas>
    <div style="text-align: center">
        <input type="button" id="erase" value="Erase" />&nbsp;&nbsp;<input type="button" id="predict" value="Predict" />
    </div>
    <div id="gallery"></div>
    <div id="result"></div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>
{% endblock %}
