{% extends "layout.html" %} {% block body %}
<div style="text-align: center">
    <h3>请写入数字，然后点击预测</h3>
    <div class="board" id="custom-board"></div>
    <input type="button" id="erase" value="Erase" style="margin:10px;" />
    <input type="button" id="predict" value="Predict" style="margin:10px;" />
    <div id="gallery"></div>
    <div id="result"></div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='simple-drawing-board.min.js')}}"></script>
    <script src="https://cdn.bootcss.com/drawingboard.js/0.4.6/drawingboard.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>
{% endblock %}
